input[type=text],
input[type=number],
select {
    width: 100%;
    padding-left: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-left: 10px;
    margin-top: 1%;
    padding: 10px;
    background-color: steelblue;
    padding: 14px 20px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    background-color: white;
}

form {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    font-weight: bolder;
}